body {
    font-family: 'Roboto';
}

h1 {
    color: red;
    line-height: 1.5;
}

label {
    line-height: 2;
}

h2 {
    font-size: 1.2rem;
    color: blue;
    line-height: 1.5;
}

h3 {
    font-size: 1rem;
    color: lightgrey;
    line-height: 1.5;
}

p {
    font-size: 0.8rem;
    line-height: 1.5;
}